<HTML>
<HEAD>
<META NAME="Author" CONTENT="Crystal Reports 13.0">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
</HEAD>
<BODY>
<style>    div {position:absolute; z-index:25}
    a {text-decoration:none}
    a img {border-style:none; border-width:0}
    .fc1ias5o1vdiark-0 {font-size:9pt;color:#000000;font-family:Arial;font-weight:normal;}
    .fc1ias5o1vdiark-1 {font-size:9pt;color:#000000;font-family:Arial;font-weight:normal;text-decoration:underline;}
    .ad1ias5o1vdiark-0 {border-color:#000000;border-left-width:0;border-right-width:0;border-top-width:0;border-bottom-width:0;}
</style><div style="z-index:3;clip:rect(0px,720px,39px,0px);top:0px;left:0px;width:720px;height:39px;"></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:16px;left:8px;width:280px;height:15px;"><table width="280px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Informe&nbsp;de&nbsp;confirmación&nbsp;para&nbsp;la&nbsp;reservación&nbsp;#</span></td></table></div>
<div style="z-index:3;clip:rect(0px,720px,55px,0px);top:39px;left:0px;width:720px;height:55px;"></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:47px;left:8px;width:88px;height:15px;"><table width="88px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">ID&nbsp;del&nbsp;Cliente:</span></td></table></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:71px;left:8px;width:56px;height:15px;"><table width="56px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Vuelo&nbsp;#</span></td></table></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:79px;left:96px;width:59px;height:15px;"><table width="59px" border="0" cellpadding="0" cellspacing="0"><td align="right"><span class="fc1ias5o1vdiark-1">PRICE</span></td></table></div>
<div style="z-index:3;clip:rect(0px,720px,166px,0px);top:94px;left:0px;width:720px;height:166px;"></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:102px;left:8px;width:176px;height:15px;"><table width="176px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Información&nbsp;del&nbsp;Vuelo:</span></td></table></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:126px;left:80px;width:48px;height:15px;"><table width="48px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Origen:</span></td></table></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:126px;left:336px;width:64px;height:15px;"><table width="64px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Destino:</span></td></table></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:158px;left:80px;width:144px;height:15px;"><table width="144px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Fecha&nbsp;y&nbsp;hora&nbsp;de&nbsp;salida:</span></td></table></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:198px;left:8px;width:176px;height:15px;"><table width="176px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Subtotal:</span></td></table></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:222px;left:161px;width:127px;height:15px;"><table width="127px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">$</span></td></table></div>
<div style="z-index:3;clip:rect(0px,720px,55px,0px);top:260px;left:0px;width:720px;height:55px;"></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:268px;left:16px;width:568px;height:15px;"><table width="568px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Gracias&nbsp;por&nbsp;preferir&nbsp;TECAirlines!&nbsp;Su&nbsp;viaje&nbsp;soñado&nbsp;lo&nbsp;espera!</span></td></table></div>
<div class="ad1ias5o1vdiark-0" nowrap="true" style="z-index:25;top:300px;left:16px;width:536px;height:15px;"><table width="536px" border="0" cellpadding="0" cellspacing="0"><td align="left"><span class="fc1ias5o1vdiark-0">Cualquier&nbsp;consulta&nbsp;o&nbsp;queja&nbsp;comuníquese&nbsp;al&nbsp;correro&nbsp;tecairlines.support@gmail.com</span></td></table></div>

<div id="pageNavigator" style="top:960px;left:0px;font-style:italic;font-weight:100;font-size:smaller"> 
<hr>
