<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/SearchFlights.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="../js/AccountData.js"></script>
    <style>
        body {
            background-image: url("../recursos/AvionTecAirlines.jpg");
        }
    </style>

    <title>TECAirlines-Account</title>
</head>
<body ng-app="myApp" ng-controller="appController">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="HomeTECAirlines.html" style="font-variant-caps: small-caps;"><span style="color: #ed6211; font-weight: bold;">TEC</span>Airlines</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="HomeTECAirlines.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <form class="col-md-10">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-md-12">
                    First Name
                    <input type="text" class="form-control" id="outputFirstName" ng-model="client[0].CLIENT_FNAME" />
                </label>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-12">
                    Last Name
                    <input type="text" class="form-control" id="outputLastName" ng-model="client[0].CLIENT_LNAME" />
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-md-6">
                    Personal ID
                    <input type="text" class="form-control" id="outputPersonalID" ng-model="client[0].CLIENT_ID" />
                </label>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-6">
                    Phone Number
                    <input type="tel" class="form-control" id="outputPhoneNumber" ng-model="client[0].CLIENT_PHONENO" />
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-md-6">
                    Card Number
                    <input type="text" class="form-control" id="outputPersonalID" ng-model="card" />
                </label>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-6">
                    Miles
                    <input type="tel" class="form-control" id="outputPhoneNumber" ng-model="client[0].CLIENT_MILES" />
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-md-12">
                    University Name
                    <input type="text" class="form-control" id="outputUniversityName" ng-model="client[0].UNIVERSITY_NAME" />
                </label>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-12">
                    University ID
                    <input type="text" class="form-control" id="outputUniversityID" ng-model="client[0].CLIENT_UID" />
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-md-12">
                    Email Address
                    <input type="email" class="form-control" id="outputEmailAddress" ng-model="client[0].CLIENT_EMAIL" />
                </label>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-12">
                    Password
                    <input type="password" class="form-control" id="outputPassword" ng-model="client[0].CLIENT_PASSWRD" />
                </label>
            </div>
        </div>
    </form>
    <footer>
        <span>&copy;TECAirlines</span>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>